{% load static %}

<link href="{% static 'bug/css/list.css' %}" rel="stylesheet">
<link href="{% static 'bug/css/bootstrap.min.css' %}" rel="stylesheet">

<nav class="navbar navbar-inverse" style="background-color: #152238; height: 100px; position:fixed; width:100%; z-index: 1000000; top:0;">
    <div class="container-fluid">
      
      <div class="navbar-header">
        <ul>
            <li><a class="navbar-bar" href="{% url 'index' %}">Home</a></li>
            <li> <a class="navbar-bar" href="{% url 'detail' %}">Detail</a></li>
            <li><a class="navbar-bar" href="{% url 'list' %}">List</a></li>
        </ul>
      </div>
      
  
    </ul>
      </div>
    </div>
  </nav>
<br><br><br><br><br><br>
  <h2>Detail Review Of Bugs</h2>
<br>
<ul>
    {% comment %} random test links {% endcomment %}
    <li>https://www.google.com/search?q=types+of+software+bugs&rlz=1C1YTUH_frCM1051CM1051&oq=types+of+software+bugs&gs_lcrp=EgZjaHJvbWUyCQgAEEUYORiABDIICAEQABgWGB4yCAgCEAAYFhgeMgoIAxAAGA8YFhgeMggIBBAAGBYYHjIICAUQABgWGB4yCAgGEAAYFhgeMggIBxAAGBYYHjIICAgQABgWGB4yCAgJEAAYFhge0gEJMTA2NjRqMGoxqAIAsAIA&sourceid=chrome&ie=UTF-8</li>
    <li>https://www.google.com/search?q=sotware+bug+in+grey+&tbm=isch&ved=2ahUKEwiAhsaDs-eBAxWxpkwKHY1ODlQQ2-cCegQIABAA&oq=sotware+bug+in+grey+&gs_lcp=CgNpbWcQDFCKBVjXJ2CWiQNoAXAAeACAAdwLiAHVMZIBDzItNC4xLjIuMC4yLjEuMZgBAKABAaoBC2d3cy13aXotaW1nwAEB&sclient=img&ei=kR8jZcD5HLHNsgKNnbmgBQ&bih=747&biw=1536&rlz=1C1YTUH_frCM1051CM1051#imgrc=YVdwcs-FiUNW4M&imgdii=O_ygLU3rjU9adM</li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul>
  

